@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.custom-cursor {
  position: fixed;
  pointer-events: none;
  width: 15px; /* Adjust size as needed */
  height: 15px;
  border-width: 1px;
  border-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%); /* Center the circle on the cursor */
  transition: transform 0.1s ease, opacity 0.2s ease;
  z-index: 9999;
}
